<div class="container">
  <table class="table table-success justify-content-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Task</th>
        <th scope="col">Description task</th>
        <th colspan="2">
          <button type="button" (click)="add()" class="btn btn-light">
            Add task
          </button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of tasksSubscription">
        <th scope="row">{{ task.id }}</th>
        <td>{{ task.task }}</td>
        <td>{{ task.description }}</td>
        <td>
          <button
            type="button"
            (click)="add(task)"
            class="btn btn-info"
          >
            Modify
          </button>
        </td>
        <td>
          <button
            type="button"
            (click)="delete(task.id)"
            class="btn btn-danger"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
